* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: "Raleway" !important;
  font-size: 1rem;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none !important;
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/****************Logo & NavBar****************/
#menu {
  position: fixed;
  background: transparent;
  top: 0px;
  z-index: 999;
  width: 100%;
}
.navbar-brand {
  font-weight: 800;
  font-size: 3rem;
}
.btn-info {
  background: #111 !important;
  font-weight: 700;
  color: #ececec !important;
  width: 150px;
  height: 50px;
  line-height: 35px;
  text-align: center;
  border: 0px;
  border-radius: 15px;
}
.btn-info:focus {
  outline: none !important;
  box-sizing: 0 !important;
}
.nav-wrapper {
  background: rgb(255, 255, 255) !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
  padding-top: 10px;
  padding-bottom: 10px;
}


/***************Slider*****************/
#slider {
  background: url('./components/images/bannershow.png') center center no-repeat;
  background-size: cover;
  min-height: 70vh;
}
.text-header {
  padding: 10rem 0;
}
.text-header h1 {
  font-weight: 900;
  font-size: 6rem;
}
.text-header p {
  font-size: 1.2rem;
  line-height: 30px;
  margin: 0 auto;
  max-width: 600px;
  margin-top: 3rem;
}

/***************Product*****************/
#product .img-logo {
  max-width: 100%;
  width: 200px;
  max-height: 100%;
  transition: all 0.3s ease-in;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/***************Grow*****************/
#grow h2 {
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 1px;
  margin-bottom: 4rem;
}
#grow .number {
  position: relative;
  background: #88BCDA;
  font-weight: 700;
  font-size: 1.5rem;
  color: #111;
  padding: 1rem 1.5rem;
  border-radius: 15px;
}
#grow h3 {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.5rem;
}
#grow p {
  font-size: 1.2rem;
  line-height: 30px;
}


/***************Order*****************/
#order {
  background-color: #f7f9fb;
}
#order h2 {
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 1px;
  margin-bottom: 4rem;
}
#order .pricing-plan {
  background: #fff;
  margin: 0 auto;
  max-width: 315px;
  padding: 2.8rem 0;
  border-radius: 15px;
  transition: 0.3s all ease-in-out;
  box-shadow: 0px 0px 20px 0px rgb(1 26 44 / 5%);
}
#order span {
  font-weight: 700;
  font-size: 2rem;
  color: #88BCDA;
}
#order .price {
  color: #111;
  line-height: 1;
  font-size: 5rem;
  font-weight: 800;
  margin: 1rem 0px 1.5rem;
}
#order .price-btn {
  height: 50px;
  width: 195px;
  margin: 0 auto;
  margin-top: 1rem;
  line-height: 36px;
  border: 2px solid #111;
  border-radius: 15px;
}
#order .price-btn a {
  font-weight: 600;
  color: #111;
}

/***************Contact*****************/
#contact .content {
  margin-top: 5rem;
}
#contact .content h1 {
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 2rem;
}
#contact .form-contact .form-control {
  border: 1px solid #111;
  border-radius: 15px;
}
#contact .form-contact .form-control:focus {
  outline: 0;
  box-shadow: none;
}
#contact .form-btn {
  background: #111 !important;
  font-weight: 700;
  color: #ececec !important;
  width: 150px;
  height: 50px;
  line-height: 35px;
  text-align: center;
  border: 0px;
  border-radius: 15px;
}

/***************Footer*****************/
#footer .socials{
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .socials li {
  display: inline-block;
  margin: 1rem;
}
#footer .link {
  font-size: 1.5rem !important;
  color: #111 !important;
}


/**********Media Query****************/

/* WordPress Media Queries */
@media (max-width: 600.98px) {
  .text-header h1 {
    font-weight: 900;
    font-size: 4rem;
  }
}

@media (min-width: 601px) and (max-width: 782.98px) {
  .text-header h1 {
    font-weight: 900;
    font-size: 4rem;
  }
}

@media (min-width: 783px) {
  
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .text-header h1 {
    font-weight: 900;
    font-size: 4rem;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {

}

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

}
